Repository huangcheng/music-station: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-progress, eslint, prisma validate, prisma format

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "cspell --no-progress",
    "eslint"
  ],
  "*.prisma": [
    "prisma validate",
    "prisma format"
  ]
}

feat: add the playlists route
  src/app/api/playlist/[id]/route.ts
  src/app/api/playlist/route.ts
  src/app/api/playlists/route.ts
  src/types/index.ts
  src/types/request.ts
  src/types/response.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

feat: add the playlist route
  locales/en-US.json
  locales/zh-CN.json
  src/app/(players)/foobar2000/page.tsx
  src/app/(players)/layout.tsx
  src/app/api/artists/route.ts
  src/app/api/playlist/[id]/route.ts
  src/app/api/playlist/route.ts
  src/hooks/api.ts
  src/hooks/index.ts
  src/hooks/media.ts
  src/hooks/music.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

feat: adjust music fields
  prisma/migrations/20250905024356_initial/migration.sql
  prisma/schema.prisma
  src/app/(players)/foobar2000/page.tsx
  src/app/api/playlist/[id]/route.ts
  src/app/api/upload/route.ts
  src/hooks/api.ts
  src/hooks/media.ts
  src/types/response.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint, prisma validate, prisma format

feat: add the player state machine
  src/app/(players)/foobar2000/page.tsx
  src/app/machines/index.ts
  src/app/machines/player.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

feat: display music information on status bar
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/app/(players)/foobar2000/page.tsx
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

feat: support mute or unmute in the state machine
  src/app/(players)/foobar2000/page.tsx
  src/app/machines/player.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

feat: add the server component provider
  next.config.ts
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  src/app/(players)/foobar2000/page.tsx
  src/app/(players)/winamp/page.tsx
  src/app/api/upload/route.ts
  src/app/page.tsx
  src/components/index.ts
  src/components/tracks.tsx
  src/machines/index.ts
  src/machines/player.ts
  src/providers/index.ts
  src/providers/server-component.tsx
Due: prettier --write, eslint --fix, cspell --no-progress, eslint, prisma validate, prisma format

feat: add SSR support
  src/hooks/api.ts
  src/hooks/media.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

feat: add the global store
  src/app/layout.tsx
  src/app/page.tsx
  src/components/index.ts
  src/components/navigator.tsx
  src/components/tracks.tsx
  src/providers/global-store.tsx
  src/providers/index.ts
  src/stores/global.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

feat: add test cases
  .husky/pre-push
  cspell.json
  dict/project.txt
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/app/_components/index.ts
  src/app/_components/tracks.tsx
  src/app/api/music/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/index.ts
  src/components/navigator.tsx
  src/components/track.tsx
  src/components/tracks.tsx
  src/hooks/media.ts
  src/lib/index.ts
  src/lib/time.test.ts
  src/lib/time.ts
  src/machines/player.ts
  src/stores/global.ts
  src/stores/media.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

feat: add support for loop
  src/app/api/upload/route.ts
  src/app/page.tsx
  src/machines/player.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

test: add test cases for the player state machine
  src/machines/player.test.ts
  src/machines/player.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

build: modify the Dockerfile file
  Dockerfile
  Dockerfile.dockerignore
  package.json
Due: none

feat: add the API to support music update
  dict/project.txt
  jest.config.ts
  prisma/migrations/20250916033832_initial/migration.sql
  prisma/schema.prisma
  src/app/_components/index.ts
  src/app/_components/tracks/context.ts
  src/app/_components/tracks/index.ts
  src/app/_components/tracks/tracks.tsx
  src/app/api/music/[id]/route.ts
  src/app/api/music/route.ts
  src/app/page.tsx
  src/components/track.tsx
  src/hooks/api.ts
  src/lib/music.test.ts
  src/lib/music.ts
  src/machines/favorite.ts
  src/machines/index.ts
  src/machines/player.ts
  src/types/request.ts
  src/types/response.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint, prisma validate, prisma format

refactor: the player state machine
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/_components/index.ts
  src/app/page.tsx
  src/components/track.tsx
  src/components/ui/index.ts
  src/components/ui/slider.tsx
  src/machines/player.test.ts
  src/machines/player.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: the loop one issue
  src/app/page.tsx
  src/machines/player.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

fix: restore state machine error in the server end
  src/app/page.tsx
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

refactor: change the whole music player design
  components.json
  dict/project.txt
  locales/en-US.json
  locales/zh-CN.json
  package.json
  pnpm-lock.yaml
  src/app/_components/controls.tsx
  src/app/_components/index.ts
  src/app/_components/main.tsx
  src/app/_components/sidebar.tsx
  src/app/_components/tracks/context.ts
  src/app/_components/tracks/index.ts
  src/app/_components/tracks/tracks.tsx
  src/app/api/albums/route.ts
  src/app/globals.css
  src/app/page.tsx
  src/app/upload/page.tsx
  src/components/index.ts
  src/components/track.tsx
  src/components/ui/badge.tsx
  src/components/ui/index.ts
  src/components/ui/input.tsx
  src/components/ui/progress.tsx
  src/components/ui/scroll-area.tsx
  src/constants/index.ts
  src/constants/sidebar.ts
  src/hooks/api.ts
  src/i18n/request.ts
  src/machines/player.ts
  src/stores/global.ts
  src/stores/media.ts
  src/types/index.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

refactor: split the content in main into separated components
  src/app/_components/index.ts
  src/app/_components/main.tsx
  src/app/_components/main/albums.tsx
  src/app/_components/main/artists.tsx
  src/app/_components/main/context.ts
  src/app/_components/main/home.tsx
  src/app/_components/main/index.ts
  src/app/_components/main/library.tsx
  src/app/_components/main/liked.tsx
  src/app/_components/main/main.tsx
  src/app/_components/main/placeholder.tsx
  src/app/_components/main/playlists.tsx
  src/app/_components/main/search.tsx
  src/app/_components/main/settings.tsx
  src/machines/index.ts
  src/machines/player.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

refactor: database schema and route
  locales/en-US.json
  locales/zh-CN.json
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250921092637_initial/migration.sql
  prisma/schema.prisma
  src/app/_components/controls.tsx
  src/app/_components/index.ts
  src/app/_components/main/context.ts
  src/app/_components/main/home.tsx
  src/app/_components/main/index.ts
  src/app/_components/main/search.tsx
  src/app/api/albums/route.ts
  src/app/api/artists/route.ts
  src/app/api/genre/route.ts
  src/app/api/playlist/route.ts
  src/app/api/track/[id]/route.ts
  src/app/api/tracks/route.ts
  src/app/api/upload/route.ts
  src/app/page.tsx
  src/app/upload/page.tsx
  src/hooks/api.ts
  src/hooks/media.ts
  src/lib/utils.ts
  src/machines/favorite.ts
  src/machines/player.ts
  src/stores/media.ts
  src/types/request.ts
  src/types/response.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint, prisma validate, prisma format

refactor: routes
  dict/project.txt
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250922055433_initial/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  public/images/abstract-geometric-shapes.png
  src/app/_components/controls.tsx
  src/app/_components/main/albums.tsx
  src/app/_components/main/artists.tsx
  src/app/_components/main/library.tsx
  src/app/_components/main/liked.tsx
  src/app/_components/main/placeholder.tsx
  src/app/_components/main/search.tsx
  src/app/api/albums/route.ts
  src/app/api/artists/route.ts
  src/app/api/genre/route.ts
  src/app/api/playlist/[id]/route.ts
  src/app/api/playlist/route.ts
  src/app/api/playlists/route.ts
  src/app/page.tsx
  src/hooks/api.ts
  src/hooks/media.ts
  src/lib/utils.ts
  src/machines/player.ts
  src/stores/media.ts
  src/types/request.ts
  src/types/response.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint, prisma validate, prisma format

feat: translate components
  components.json
  dict/project.txt
  eslint.config.mjs
  locales/en-US.json
  locales/zh-CN.json
  package.json
  pnpm-lock.yaml
  src/app/_components/controls.tsx
  src/app/_components/main/albums.tsx
  src/app/_components/main/artists.tsx
  src/app/_components/main/home.tsx
  src/app/_components/main/library.tsx
  src/app/_components/main/liked.tsx
  src/app/_components/main/main.tsx
  src/app/_components/main/placeholder.tsx
  src/app/_components/main/search.tsx
  src/app/_components/main/settings.tsx
  src/app/_components/sidebar.tsx
  src/app/page.tsx
  src/components/ui/index.ts
  src/components/ui/select.tsx
  src/components/ui/slider.tsx
  src/components/ui/switch.tsx
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

feat: add the ability to clear cache
  locales/en-US.json
  locales/zh-CN.json
  package.json
  pnpm-lock.yaml
  src/app/_components/main/settings.tsx
  src/components/ui/index.ts
  src/components/ui/tooltip.tsx
  src/constants/index.ts
  src/constants/settings.ts
  src/lib/utils.ts
  src/schemas/index.ts
  src/schemas/settings.ts
  src/stores/index.ts
  src/stores/settings.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

fix: potential issues on calculating storage size
  package.json
  pnpm-lock.yaml
  src/app/_components/main/home.tsx
  src/app/_components/main/settings.tsx
  src/app/api/upload/route.ts
  src/lib/utils.test.ts
  src/lib/utils.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

feat: add the tracks component
  locales/en-US.json
  locales/zh-CN.json
  src/app/_components/main/context.ts
  src/app/_components/main/favorites.tsx
  src/app/_components/main/home.tsx
  src/app/_components/main/main.tsx
  src/app/_components/main/tracks.tsx
  src/app/_components/sidebar.tsx
  src/app/page.tsx
  src/constants/index.ts
  src/constants/sidebar.ts
  src/constants/track.ts
  src/hooks/media.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

ci: add GitHub workflows
  .github/workflows/ci.yml
Due: none

ci: add the dependabot workflows
  .github/dependabot.yml
  .github/workflows/automerge-dependabot.yml
Due: none

fix: the GitHub workflow issue
  .github/workflows/automerge-dependabot.yml
  .github/workflows/ci.yml
Due: none

fix: make the controls component SSR disabled to avoid issues
  package.json
  pnpm-lock.yaml
  src/app/_components/controls.tsx
  src/app/_components/index.ts
  src/app/_components/main/home.tsx
  src/lib/music.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

fix: type export issue
  src/app/_components/controls.tsx
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

refactor: callback functions' parameters
  src/app/_components/controls.tsx
  src/app/page.tsx
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

feat: create modify and delete playlists
  dict/project.txt
  locales/en-US.json
  locales/zh-CN.json
  package.json
  pnpm-lock.yaml
  src/app/_components/main/library.tsx
  src/app/api/playlist/[id]/route.ts
  src/app/api/playlist/route.ts
  src/app/page.tsx
  src/components/index.ts
  src/components/multi-select.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/button.tsx
  src/components/ui/command.tsx
  src/components/ui/context-menu.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/index.ts
  src/components/ui/label.tsx
  src/components/ui/popover.tsx
  src/hooks/api.ts
  src/hooks/media.ts
  src/schemas/index.ts
  src/schemas/media.ts
  src/stores/global.ts
  src/types/request.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

fix: the unexpecting rerender issue
  src/app/_components/main/library.tsx
  src/hooks/media.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

feat: support select a playlist to play
  jest.config.ts
  locales/en-US.json
  locales/zh-CN.json
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250926065824_initial/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/app/_components/controls.tsx
  src/app/_components/main/context.ts
  src/app/_components/main/home.tsx
  src/app/_components/main/library.tsx
  src/app/page.tsx
  src/lib/music.test.ts
  src/lib/time.test.ts
  src/lib/utils.test.ts
  src/machines/player.test.ts
  src/schemas/media.ts
  src/types/response.ts
  vitest.config.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint, prisma validate, prisma format

feat: adjust styles
  .github/workflows/automerge-dependabot.yml
  src/app/_components/main/artists.tsx
  src/app/_components/main/library.tsx
  src/app/api/albums/route.ts
  src/app/api/artists/route.ts
  src/app/api/genre/route.ts
  src/app/api/playlists/route.ts
  src/app/api/tracks/route.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint

feat: add favicon and icon
  public/images/icon.png
  src/app/favicon.ico
Due: none

feat: add the user account system
  README.md
  package.json
  pnpm-lock.yaml
  prisma.config.ts
  prisma/migrations/20250928093807_initial/migration.sql
  prisma/models/media.prisma
  prisma/models/session.prisma
  prisma/models/user.prisma
  prisma/schema.prisma
  prisma/seed.ts
  src/app/api/login/route.ts
  src/app/api/playlist/[id]/route.ts
  src/app/api/user/[id]/route.ts
  src/app/login/page.tsx
  src/components/ui/index.ts
  src/components/ui/tabs.tsx
  src/hooks/api.ts
  src/hooks/auth.ts
  src/hooks/index.ts
  src/lib/session.ts
  src/middleware.ts
  src/schemas/auth.ts
  src/schemas/index.ts
  src/types/auth.ts
  src/types/index.ts
  src/types/request.ts
  src/types/response.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint, prisma validate, prisma format

feat: allow users to logout
  src/app/(bootstrap)/layout.tsx
  src/app/(bootstrap)/page.tsx
  src/app/(bootstrap)/upload/page.tsx
  src/app/_components/sidebar.tsx
  src/app/api/login/route.ts
  src/app/api/logout/route.ts
  src/app/api/user/route.ts
  src/hooks/api.ts
  src/lib/session.ts
  src/stores/global.ts
  src/stores/index.ts
  src/stores/media.ts
  src/stores/settings.ts
  src/stores/user.ts
Due: prettier --write, eslint --fix, cspell --no-progress, eslint
