Repository huangcheng/music-station: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-progress --no-must-find-files, eslint, prisma validate, prisma format

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "cspell --no-progress --no-must-find-files",
    "eslint"
  ],
  "*.prisma": [
    "prisma validate",
    "prisma format"
  ]
}

fix: the middleware config issue
  src/app/api/user/[id]/route.ts
  src/middleware.ts
Due: prettier --write, eslint --fix, cspell --no-progress --no-must-find-files, eslint

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: none

feat: adjust the remember logic
  README.md
  prisma/migrations/20250930012824_initial/migration.sql
  prisma/models/user.prisma
  prisma/seed.ts
  src/app/api/login/route.ts
  src/app/login/page.tsx
  src/lib/session.test.ts
  src/schemas/auth.ts
  src/stores/user.ts
  src/types/request.ts
Due: prettier --write, eslint --fix, cspell --no-progress --no-must-find-files, eslint, prisma validate, prisma format

test: remove incorrect test cases
  src/lib/session.test.ts
Due: prettier --write, eslint --fix, cspell --no-progress --no-must-find-files, eslint

ci: add secrets
  .github/workflows/ci.yml
Due: none

feat: playlists' tracks now can be shown
  prisma/migrations/20250930074137_initial/migration.sql
  prisma/models/media.prisma
  src/app/_components/main/library.tsx
  src/app/_components/main/track-list.tsx
  src/app/_components/main/tracks.tsx
  src/app/api/genres/route.ts
  src/app/api/playlist/[id]/route.ts
  src/app/api/track/[id]/route.ts
  src/app/api/tracks/route.ts
  src/hooks/api.ts
  src/stores/media.ts
  src/types/request.ts
  src/types/response.ts
Due: prettier --write, eslint --fix, cspell --no-progress --no-must-find-files, eslint, prisma validate, prisma format

chore: update dependencies
  .github/workflows/playwright.yml
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/example.spec.ts
Due: prettier --write, eslint --fix, cspell --no-progress --no-must-find-files, eslint

test: adjust playwright configs
  package.json
  playwright.config.ts
  src/app/login/page.tsx
  src/middleware.ts
  tests/example.spec.ts
  tests/login.spec.ts
  vitest.config.ts
Due: prettier --write, eslint --fix, cspell --no-progress --no-must-find-files, eslint

docs: append content into the README.md
  README.md
  package.json
Due: none

chore: add the LICENSE file
  LICENSE
Due: none

build: adjust the Dockerfile
  Dockerfile
  package.json
Due: none

feat: add selection + back flows for Albums and Artists
  locales/en-US.json
  locales/zh-CN.json
  package.json
  pnpm-lock.yaml
  src/app/_components/main/albums.tsx
  src/app/_components/main/artists.tsx
Due: prettier --write, eslint --fix, cspell --no-progress --no-must-find-files, eslint

feat: play all tracks from album/artist
  locales/en-US.json
  locales/zh-CN.json
  src/app/(bootstrap)/page.tsx
  src/app/_components/main/albums.tsx
  src/app/_components/main/artists.tsx
  src/app/_components/main/context.ts
Due: prettier --write, eslint --fix, cspell --no-progress --no-must-find-files, eslint

feat: settings allows to clear more caches
  .gitignore
  playwright.config.ts
  src/app/_components/main/settings.tsx
  src/stores/media.ts
  tests/albums.spec.ts
  tests/artists.spec.ts
  tests/login.spec.ts
  tests/setup/auth.setup.ts
  tests/setup/global-setup.ts
Due: prettier --write, eslint --fix, cspell --no-progress --no-must-find-files, eslint

feat: add translations
  locales/en-US.json
  locales/zh-CN.json
  src/app/(bootstrap)/upload/page.tsx
  src/app/_components/sidebar.tsx
  src/app/login/page.tsx
Due: prettier --write, eslint --fix, cspell --no-progress --no-must-find-files, eslint

build: adjust the build script for vercel
  package.json
Due: none

build: adjust the postinstall script
  package.json
Due: none

build: add the docker workflows
  .github/workflows/dependabot.yml
  .github/workflows/docker-publish.yml
  Dockerfile
  package.json
  src/app/api/login/route.ts
  src/lib/session.ts
Due: prettier --write, eslint --fix, cspell --no-progress --no-must-find-files, eslint

ci: remove the playwright workflow
  .github/workflows/playwright.yml
Due: none

ci: adjust images's permissions
  .github/workflows/docker-publish.yml
Due: none

chore: update dependencies
  .github/workflows/docker-publish.yml
  package.json
  pnpm-lock.yaml
Due: none

feat: add the task route
  api.http
  locales/en-US.json
  locales/zh-CN.json
  package.json
  pnpm-lock.yaml
  src/app/api/playlist/[id]/route.ts
  src/app/api/task/[name]/route.ts
  src/app/api/upload/route.ts
  src/lib/media-processor.ts
  src/lib/server-utils.ts
  src/lib/server.ts
Due: prettier --write, eslint --fix, cspell --no-progress --no-must-find-files, eslint
